services:
  # -------------------------------
  # Prometheus
  # -------------------------------
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    restart: unless-stopped

  # -------------------------------
  # Grafana(스프링 19004)
  # -------------------------------
  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
      - loki
    restart: unless-stopped

  # -------------------------------
  # Loki
  # -------------------------------
  loki:
    image: grafana/loki:3.0.0
    container_name: loki
    ports:
      - "3100:3100"
    volumes:
      - ./loki:/mnt/config
    command: -config.file=/mnt/config/loki-config.yml
    restart: unless-stopped
